body{
	margin:0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
}

.fondo-1 {
  /*background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
  background-image: linear-gradient(to bottom, #000000, #131213, #1e1e1f, #2a2a2b, #353638, #3b4851, #395d65, #3a7270, #3d9277, #66b06b, #a8c854, #fad841);
}
  
.img-ref{
  margin-top: 40px;
  width: 90%;
}

.img-ref-home{
  margin-top: 40px;
  width: 50%;
}

.img-ref-home:hover{
  margin-top: 40px;
  border: 40px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.img-ban{
  width: 100%;
  border: 5px solid;
  display: block;
  margin:auto;
}

.img-ref:hover{
  margin-top: 40px;
  border: 40px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.img-banner{
  display: block;
  margin:auto;
  width: 5%;
}

.img-banner-in{
  width: 5%;
}

.title-principal{
  font-size: 280%;
  text-align: center;
  font-family: Segoe Script;
  background: -webkit-linear-gradient(#72CF08  , #E0FF14);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title{
  text-align: center;
  font-family: Segoe Script;
  background: #FAD841;
  background: linear-gradient(to right, #FAD841 0%, #CBCFC9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-cat{
  font-family: Segoe Script;
  background: -webkit-linear-gradient(#72CF08  , #E0FF14 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 120%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font: bold;
  text-align: justify;
  color: #ffffff;
}

a.boton-link {  
  text-decoration: none;
  font-weight: bolder;
  float: right;
  margin-left: 3%;
  font-size: 150%;
  font-family: Segoe Script;
  background: #65CF08;
  background: linear-gradient(to top left, #65CF08 31%, #E7FF0D 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.boton-link:hover {
  color: #FF2B57;
}

.margen {
  margin-left: 5%;
}


.img-console{
  width: 10%;
}