body{
	margin:0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
}

.carrusel {
  display: flex;
  animation-name: desplazar;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  align-content: left;
}
  
@keyframes desplazar {
  100% {
    transform: translateX(100%);
  }
  0% {
    transform: translateX(-100%);
  }
}
  
.img-ref{
  margin-top: 40px;
  width: 50%;
  border: 9px solid #FFF;
}

.img-banner{
  width: 4%;
}

.title{
  text-align: center;
  font-family: consolas;
  font-size: 500%;
}

a.boton-link {
  text-decoration: none;
  color: initial;
  font-weight: bolder;
  float: right;
}

.margen {
  margin-left: 5%;
}