body{
	margin:0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
}

.fondo-navbar1 {
  /*background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
  background-image: linear-gradient(to right, #d4d400, #c68a1c, #944e2c, #4e2625, #000000);
}

.fondo-1 {
  /*background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
  background-image: linear-gradient(to right top, #212529, #313437, #424346, #535354, #646464);
}
  
.img-ref{
  margin-top: 40px;
  width: 90%;
}

.img-ref-home{
  margin-top: 40px;
  width: 35%;
}

.img-ref-home:hover{
  margin-top: 40px;
  border: 40px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.img-ban{
  width: 100%;
  border: 5px solid;
  display: block;
  margin:auto;
}

.img-ref:hover{
  margin-top: 40px;
  border: 40px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.img-banner{
  display: block;
  margin:auto;
  width: 5%;
}

.img-banner-in{
  width: 5%;
}

.title-principal{
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 280%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: -webkit-linear-gradient(#72CF08  , #E0FF14);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title{
  margin-top: 2.3%;
  text-align: center;
  font-family: Candara;
  background: #FAD841;
  background: linear-gradient(to right, #FAD841 0%, #CBCFC9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-cat{
  margin-top: 40px;
  font-family: Candara;
  background: -webkit-linear-gradient(#72CF08  , #E0FF14 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-user{
  font-weight: bolder;
  background: -webkit-linear-gradient(#72CF08  , #E0FF14 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-formulario{
  font-family: Candara;
  font: bold;
  color: #FAD841;
}

.description {
  font-size: 120%;
  font-family: Candara;
  font: bold;
  text-align: justify;
  color: #ffffff;
}

.plataforma {
  font-size: 120%;
  font-family: Candara;
  font: bold;
  text-align: justify;
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

a.boton-link {  
  text-decoration: none;
  font-weight: bolder;
  float: right;
  margin-left: 3%;
  font-size: 150%;
  font-family: Segoe Script;
  background: #65CF08;
  background: linear-gradient(to top left, #65CF08 31%, #E7FF0D 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.boton-link:hover {
  color: #FF2B57;
}

.margen {
  margin-left: 10px;
}


.img-console{
  width: 10%;
}

#nombre, #usuario, #correo, #clave, #repetir-clave, #fecha-nacimiento, #direccion {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

::placeholder {
  color: rgb(167, 100, 0);
  opacity: .5;
}